.main-title {
  margin: 30px;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.card-list {
  margin: 3rem auto 0;
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  p {
    font-size: 4rem;
  }
}
